<div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">

            <span onclick="document.getElementById('classroom-modal').style.display='none'" class="w3-closebtn">&times;</span>

            <div class="w3-center"><br>
                <img src="/www/git_app/zion/images/logoNotesbook.jpg" alt="Avatar" style="width:20%" class="w3-square w3-margin-top">
            </div>

            <div class="w3-container">
                <!-- SECTION 1 -->
                <div class="w3-section">
                    <!-- FORM --> 
                    <form class="w3-form" name="classRoomForm" novalidate>
                        
                        <!-- NAME -->
                        <label for="name"><b>Nombre de usuario</b></label>
                        <input 
                            name="name" 
                            ng-class="{ 'w3-input w3-border-red': userRegisterForm.name.$touched && userRegisterForm.name.$invalid, 
                                        'w3-input w3-border-green': userRegisterForm.name.$touched && userRegisterForm.name.$valid}"         
                            class="w3-input w3-border w3-margin-bottom" 
                            type="text" 
                            value="" 
                            placeholder="Introduce tu nombre"    
                            ng-model="form_data['name']" 
                            ng-pattern="JSON_validation.name"
                            minlength=3
                            required>
                        </input>
                                   
                       <div ng-messages="classRoomForm.name.$error" ng-show="classRoomForm.name.$touched" style="color:red">
                            <p ng-message="minlength">Nombre muy corto.</p>
                            <p ng-message="pattern">Nombre erroneo.</p>
                            <p ng-message="required">Nombre requerido</p>
                        </div>

                        <!-- CATEGORIES -->                        
                        <label for="countries"><b>Categoria</b></label>
                        <select class="w3-select" name="categories" ng-model="form_data['category']" required>
                            <!-- Manera de iterar en los datos de un objeto JSON-->
                            <option value="">Seleccciona una categoria</option>
                            <option ng-repeat="(key, val) in JSON_categories.categories">{{val.name}}</option>
                        </select>   
                        
                        <!-- SUBCATEGORIES -->                        
                        <label for="countries"><b>Subcategoria</b></label>
                        <select class="w3-select" name="subcategories" ng-model="form_data['subcategory']" required>
                            <!-- Manera de iterar en los datos de un objeto JSON-->
                            <option value="">Seleccciona una subcategoria</option>
                            <option ng-repeat="(key, val) in JSON_categories.subcategories">{{val.name}}</option>
                        </select>  
                        
                        <!-- DESCRIPTION -->
                        <div class="w3-group">      
                            <textarea 
                            name="description" 
                            class="w3-input" 
                            style="width:90%;resize: none" 
                            ng-model="form_data['description']" 
                            ng-pattern="JSON_validation.description"
                            minlength=10
                            maxlength=1000 
                            required></textarea>
                            <label class="w3-label">Descripcion</label>
                        </div>

                       <div ng-messages="classRoomForm.description.$error" ng-show="classRoomForm.description.$touched" style="color:red">
                            <p ng-message="minlength">Descripcion muy corta.</p>
                            <p ng-message="pattern">Descripcion erronea.</p>
                            <p ng-message="required">Descripcion requerida</p>
                        </div>      
                                          
                        <!-- SUBMIT -->
                        <button 
                            class="w3-btn w3-btn-block w3-section w3-grey w3-ripple" 
                            ng-disabled="classRoomForm.$invalid" 
                            ng-click="send_form_data()">Crear Aula</button>

                        <!-- SECTION 2 -->
                        <div class="w3-section w3-container w3-border-top w3-padding-hor-16 w3-light-grey">
                            <!-- RESET -->
                            <input type="reset" class="w3-btn w3-red w3-ripple"></input>
                        </div> 

                    </form>                         
                </div>                
            </div> 
        </div>
    </div>