<!-- Menu Bar -->
<div ng-include="'app/views/site/partials/menu-bar-partial.html'"></div>

<!-- Classroom modal form partial-->
<div  ng-include="'app/views/classroom/partials/classroom-form-partial.html'"></div>

<!-- Show Modal when register is valid partial -->
<div ng-include="'app/views/classroom/partials/classroom-valid-modal-partial.html'"></div>

<!-- ClassRoom Body -->
<div class="w3-container" style="margin-top: 80px;">
    <div class="w3-row">

<div class="w3-col m2">
                <!-- Logo -->
        <div class="w3-row">
            <div class="w3-col w3-center">
                <img src="images/logo_Notesbook_trans.png" style="height:200px;width:195px;margin:0"></img>
            </div>
        </div>
                <!-- Profile -->
            <div class="w3-card-2 w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">Mi Perfil</h4>
                    <p class="w3-center"><img src="images/boy_avatar.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                    <hr>
                    <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Diseñador Web</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> Madrid, España</p>
                    <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> 2 de Enero de 1987</p>
                </div>
            </div>
            <br>
                  
            <!-- Accordion -->
            <div class="w3-card-2 w3-round" ng-controller="MainController">
                <div class="w3-accordion w3-white">
                    <button ng-click="accordion('side_classroom_bar')" class="w3-btn-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> Mis Aulas</button>
                    <div id="side_classroom_bar" class="w3-accordion-content w3-container">
                        <a href="#/classroom/{{group.id}}" ng-repeat="group in groups">{{group.nombre}}</a>
                    </div>
                </div>      
            </div>
            <br>
        <!-- End Left Column -->
</div>

        <div class="w3-col m8 w3-large w3-teal w3-center w3-section w3-card-2 w3-padding">
            <div class="w3-row"></div>Mi aula
        </div>
        <div ng-include="'app/views/article/partials/article-partial.html'"></div>
     

        </div>
    </div>
</div>
<!-- Footer -->
<div ng-include="'app/views/site/partials/footer-partial.html'"></div>