<div ng-model="article_form_data['title']" ng-class="{ 'w3-input w3-red': show_text_angular}" contenteditable="false" class="w3-col m8 w3-large w3-teal w3-center w3-section w3-card-2 w3-padding w3-round">
    <div class="w3-row">Creacion de articulo</div>
</div>

<div class="w3-col m8"> 
    <div class="w3-row-padding">
        <div class="w3-col m12">
            <div class="w3-card-2 w3-round w3-white">

                <div class="w3-container w3-padding">
                    
                    <input type="hidden" value="{{article_data.classroom_id}}"/>
                    <div class="w3-section"><label class="create w3-label">Titulo: </label><input ng-model="create_article_form_data['title']" class="w3-input" placeholder="Introduce un titulo" type="text"></input></div>
                    <div class="w3-section"><label class="create w3-label">Tags: </label><input ng-model="create_article_form_data['tags']"class="w3-input" placeholder="Introduce los tags separados por ','" type="text"></input></div>
                    <div class="w3-section"><label class="create w3-label">Tema: </label><input ng-model="create_article_form_data['topic']"class="w3-input" placeholder="Introduce un tema" type="text"></input></div>
                    <label class="w3-label">Contenido: </label><text-angular id="text" ng-model="create_article_form_data['body']" class="w3-input w3-border" ta-toolbar="[['h1','h2','h3','h4','p','bold','italics','ul','ol','justifyLeft','justifyCenter','justifyRight','justifyFull', 'redo', 'undo','insertImage','insertLink', 'insertVideo']]"></text-angular><br>

                    <button ng-click="save_new_article()" type="button" class="w3-btn-block w3-center"><i class="fa fa-pencil"></i> Crear Articulo</button>
                                                        
                </div>
            </div><br>
        </div>
    </div>
</div>