
<!-- Classroom Info -->
<div class="w3-card-2 w3-round w3-white">
    <div class="w3-container">
        <h4 class="w3-center w3-blue-grey">Informacion de la clase</h4>
        <hr>
        <div><label class="w3-label">Nombre: </label><p>{{classroom_item.name}}</p></div>
        <div><label class="w3-label">Categoria: </label><p>{{classroom_item.category}}</p></div>
        <div><label class="w3-label">Subcategoria: </label><p>{{classroom_item.subcategory}}</p></div>
        <div><label class="w3-label">Descripcion: </label><p>{{classroom_item.description}}</p></div>
    </div>
</div>
<br>