<!-- Enroll Form Modal -->
<div class="w3-modal" ng-style="modal_change_password.style">
    <div class="w3-modal-content w3-card-4 w3-animate-top">
		<div class="w3-card-2 w3-round w3-white">
		    <div class="w3-container">
		    	<span ng-click="close_change_password_modal()" class="modal w3-closebtn">&times;</span>
		        <h4 class="modal_user_invite w3-center">Introduce el antigüo y el nuevo password</h4>   

                <div class="w3-section">
                	<label class="create w3-label">Antiguo password: </label>
                	<input ng-model="modal_change_password.old_password" class="w3-input" placeholder="Introduce tu antigüo password" type="password"></input>
                </div>

                <div class="w3-section">
                	<label class="create w3-label">Nuevo password: </label>
                	<input ng-model="modal_change_password.new_password" class="w3-input" placeholder="Introduce tu nuevo password" type="password"></input>
                </div>

                <button type="button" ng-click="change_password()" class="modal_accept_button w3-btn w3-btn-block w3-section"><i class="fa fa-pencil"></i> Acceder </button>

		    </div>
		</div>
		<br>
    </div>
</div>