
<!-- Profile -->
<div class="w3-card-2 w3-round w3-white">
    <div class="w3-container">
        <h4 class="w3-center">Mi Perfil</h4>
        <p class="w3-center"><img src="images/boy_avatar.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
        <hr>
        <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Diseñador Web</p>
        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{logged_user_data.region}}, {{logged_user_data.country}}</p>
        <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{logged_user_data.birthdate}}</p>
    </div>
</div>
<br>