<div id="{{article_data.title}}" ng-model="article_form_data['title']" ng-class="{ 'w3-input w3-red': show_text_angular}" contenteditable="false" class="w3-col m8 w3-large w3-teal w3-center w3-section w3-card-2 w3-padding w3-round">
    <div class="w3-row">{{article_data.title}}</div>
</div>

<div class="w3-col m8"> 
    <div class="w3-row-padding">
        <div class="w3-col m12">
            <div class="w3-card-2 w3-round w3-white">

                <div class="w3-container w3-padding">
                    
                    <p ng-bind-html="article_data.body" ng-hide="hide_body_content" contenteditable="false"><label class="w3-label">Contenido:</label><br>{{article_data.body}}</p>
                    <p ng-model="article_form_data['tags']" contenteditable="false"><label class="w3-label">Tags: </label><br>{{article_data.tags}}</p>
                    <p ng-model="article_form_data['topic']" contenteditable="false"><label class="w3-label">Tema: </label><br>{{article_data.topic}}</p>
                    <text-angular id="text" ng-model="article_form_data['body']" ng-show="show_text_angular" class="article w3-input w3-border" ta-toolbar="[['h1','h2','h3','h4','p','bold','italics','ul','ol','justifyLeft','justifyCenter','justifyRight','justifyFull', 'redo', 'undo','insertImage','insertLink', 'insertVideo']]"></text-angular><br>
                    <button type="button" ng-show="show_edit_button" ng-click="show_edit_article_view()" class="w3-btn w3-theme"><i class="fa fa-pencil"></i> Editar</button>
                    <a href="#/article/{{article_id}}/"><button type="button" ng-show="show_save_button" ng-click="save_edited_article()" class="w3-btn w3-theme"><i class="fa fa-pencil"></i> Guardar</button></a>
                        
                    <div class="w3-section w3-right">
                        <a href=""><span ng-click="like()" class="w3-hover-text-green w3-large" title="Me gusta"> <i class="fa fa-thumbs-o-up fa-lg"></i></span></a><span class="w3-text-green w3-large">  {{article_data.likes_count}}</span>
                        <a href=""><span ng-click="unlike()" class="w3-hover-text-red w3-large" title="No me gusta"> <i class="fa fa-thumbs-o-down fa-lg"></i></span></a><span class="w3-text-red w3-large">  {{article_data.unlikes_count}}</span>
                    </div>                                
                    </div>
                </div><br>
            </div>
        </div>
    </div>

    </div>
</div>