<!-- Register Valid Modal -->
<div id="login-modal-container" class="w3-modal" ng-show="show_valid_modal">

    <div class="w3-modal-content w3-card-4 w3-animate-top" style="max-width:600px">
        <div class="w3-center"><br>
            <p class="w3-text-green">Usuario registrado con exito!</p>
            <p>Verifica tu email para validar la cuenta</p>
        </div>
        <a href="#/">
            <div class="w3-btn w3-btn-block w3-center w3-green w3-margin-bottom">Aceptar</div>
        </a>
    </div>
</div>    