
<!-- Navbar -->
<div ng-controller="MenuController" ng-include="'app/views/partials/menu-bar-partial.html'"></div>

<!-- Page Container -->
<div class="w3-container" style="margin-top:80px; height:100vh">
        
    <!-- The Grid -->
    <div class="w3-row w3-container">
        <!-- Left Column -->
        <div class="w3-col m2">
            <!-- Logo -->
            <div class="w3-row">
                <div class="w3-col w3-center">
                    <img src="images/logo_Notesbook_trans.png" style="height:200px;width:195px;margin:0"></img>
                </div>
            </div>

            <!-- Profile -->
            <div ng-include="'app/views/partials/user-profile-data-partial.html'"></div>

            <!-- My Classrooms -->
            <div ng-include="'app/views/partials/my-classrooms-links-partial.html'"></div>

        <!-- End Left Column -->
        </div>   

        <!-- Middle Column -->
        <!-- Article Edit View -->
        <div ng-if="show_edit_view" ng-include="'app/views/partials/article-edit-form-partial.html'"></div>

        <!-- Article Create View -->
        <div ng-if="show_create_view" ng-include="'app/views/partials/article-create-form-partial.html'"></div>

        <!-- Article Read View -->
        <div ng-if="show_read_view" ng-include="'app/views/partials/article-readonly-partial.html'"></div>
       
    <!-- End Grid -->
    </div>
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<div ng-include="'app/views/partials/footer-partial.html'"></div>