<div id="valid-classroom-modal" class="w3-modal">

    <div class="w3-modal-content w3-card-4 w3-animate-top" style="max-width:600px">
        <div class="w3-center"><br>
            <p class="w3-text-green">Aula creada con exito!</p>
            <p>Revisa tu email para invitar a otros usuarios</p>
        </div>
        <a href="#/dashboard">
            <div class="w3-btn w3-btn-block w3-center w3-green w3-margin-bottom" ng-click="hide_valid_classroomForm();refresh_classrooms()" >Aceptar</div>
        </a>
    </div>
</div>