<!-- Show Modal when register is valid -->
<div id="login-modal-container" class="w3-modal" ng-show="showValidateConfirmation">

    <div class="w3-modal-content w3-card-4 w3-animate-top" style="max-width:600px">
        <div class="w3-center"><br>
            <p class="w3-text-green">Usuario validado con exito!</p>
            <p>Pulsa aceptar para ir al Login</p>
        </div>
        <a href="#/">
            <div class="w3-btn w3-btn-block w3-center w3-green w3-margin-bottom">Aceptar</div>
        </a>
    </div>
</div>  

<div id="login-modal-container" class="w3-modal" ng-hide="showValidateConfirmation">

    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px"> 
        <!-- MODAL HEADER -->
        <div class="w3-center"><br>
            <img src="/www/git_app/zion/images/logoNotesbook.jpg" alt="Avatar" style="width:20%" class="w3-square w3-margin-top">
        </div>

        <form class="w3-form">
            <!-- MODAL BODY -->
            <div class="w3-section">
                <!-- USERNAME -->
                <label class="w3-label"><b>Nombre de Usuario</b></label>
                <input 
                    class="w3-input w3-border w3-margin-bottom w3-round"
                    ng-model="login_form_data['name']" 
                    type="text" 
                    placeholder="Introduce tu nombre de usuario" 
                    name="name" 
                    required>    
                </input>
                <!-- PASSWORD -->
                <label class="w3-label"><b>Password</b></label>
                <input 
                    class="w3-input w3-border w3-round w3-section" 
                    ng-model="login_form_data['password']"
                    type="password" 
                    placeholder="Introduce tu Password" 
                    name="password">
                </input>
                <!-- LOGIN BUTTON-->
                <input 
                    class="w3-btn w3-btn-block w3-section w3-green w3-ripple" 
                    name="login" 
                    value="Login"
                    ng-click="send_login_form_data()" 
                    >
                </input>
                <!-- REGISTER BUTTON -->
                <a href="#/user/register"><button class="w3-btn w3-btn-block w3-section w3-grey">Registrate</button></a>        
            </div>
            <!-- MODAL FOOTER -->
            <div class="w3-container w3-border-top w3-padding-hor-16 w3-light-grey">
                <input 
                    type="reset" 
                    class="w3-btn w3-red">
                </input>
              <span class="w3-right w3-padding w3-hide-small">Olvidaste tu <a href="#">password?</a></span>
            </div>

        </form>
    </div>
</div>

