<div id="login-modal-container" class="w3-modal">

    <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width:600px">

        <div class="w3-center"><br>
            <img src="/www/git_app/zion/images/logoNotesbook.jpg" alt="Avatar" style="width:20%" class="w3-square w3-margin-top">
        </div>

        <div class="w3-container">
            <!-- SECTION 1 -->
            <div class="w3-section">
                <!-- FORM --> 
                <form class="w3-form" name="userRegisterForm" novalidate>
                <!-- <p>Formulario es $valid? = {{userRegisterForm.$valid}}</p> -->
                    <!-- name -->
                    <label for="name"><b>Nombre de usuario</b></label>
                    <input 
                        name="name" 
                        ng-class="{ 'w3-input w3-border-red': userRegisterForm.name.$touched && userRegisterForm.name.$invalid, 
                                    'w3-input w3-border-green': userRegisterForm.name.$touched && userRegisterForm.name.$valid}"         
                        class="w3-input w3-border w3-margin-bottom" 
                        type="text" 
                        value="" 
                        placeholder="Introduce tu nombre"    
                        ng-model="form_data['name']" 
                        ng-pattern="JSON_validation.name"
                        minlength=3
                        required>
                    </input>

                    <div ng-messages="userRegisterForm.name.$error" ng-show="userRegisterForm.name.$touched" style="color:red">
                        <p ng-message="minlength">Nombre muy corto.</p>
                        <p ng-message="pattern">Nombre erroneo.</p>
                        <p ng-message="required">Nombre requerido</p>
                    </div>

                    <!-- SURNAME -->
                    <label for="surname"><b>Apellidos</b></label>
                    <input 
                        name="surname"
                        ng-class="{ 'w3-input w3-border-red': userRegisterForm.surname.$touched && userRegisterForm.surname.$invalid, 
                                    'w3-input w3-border-green': userRegisterForm.surname.$touched && userRegisterForm.surname.$valid}"                        
                        class="w3-input w3-border w3-margin-bottom" 
                        type="text"  
                        value="" 
                        placeholder="Introduce tus apellidos"  
                        ng-model="form_data['surname']"
                        ng-pattern="JSON_validation.surname" 
                        minlength=3
                        required>
                    </input>

                    <div ng-messages="userRegisterForm.surname.$error" ng-show="userRegisterForm.surname.$touched" style="color:red">
                        <p ng-message="minlength">Apellido muy corto.</p>
                        <p ng-message="pattern">Apellido erroneo.</p>
                        <p ng-message="required">Apellido requerido</p>
                    </div>                    

                    <!-- PASSWORD -->
  <!--                   <label for="password"><b>Password</b></label>
                    <input 
                        name="password"
                        class="w3-input w3-border" 
                        ng-class="{ 'w3-input w3-border-red': userRegisterForm.password.$touched && userRegisterForm.password.$invalid, 
                                    'w3-input w3-border-green': userRegisterForm.password.$touched && userRegisterForm.password.$valid}"                        
                        type="password" 
                        placeholder = "Introduce tu password" 
                        ng-pattern = "passwordRegExp"
                        ng-model="password"
                        required>
                    </input>
                    <div ng-messages="userRegisterForm.password.$error" ng-show="userRegisterForm.password.$touched" style="color:red">
                        <p ng-message="pattern">Contraseña erronea.</p>
                        <p ng-message="required">Contraseña requerida</p>
                    </div>   -->                  

                    <!-- Email -->
                    <label for="email"><b>Email</b></label>
                    <input 
                        name="email"
                        class="w3-input w3-border"
                        ng-class="{ 'w3-input w3-border-red': userRegisterForm.email.$touched && userRegisterForm.email.$invalid, 
                                    'w3-input w3-border-green': userRegisterForm.email.$touched && userRegisterForm.email.$valid}"                         
                        type="email" 
                        placeholder="Introduce tu email"  
                        ng-model="form_data['email']"
                        ng-pattern="JSON_validation.email"
                        required>
                    </input>
                    <div ng-messages="userRegisterForm.email.$error" ng-show="userRegisterForm.email.$touched" style="color:red">
                        <p ng-message="pattern">Email erroneo.</p>
                        <p ng-message="required">Email requerido</p>
                    </div>

                    <!-- BIRTHDATE -->
                    <label for="birthdate"><b>Fecha de nacimiento</b></label>
                    <input class="w3-input w3-border"
                        name="birthdate" 
                        ng-class="{ 'w3-input w3-border-red': userRegisterForm.birthdate.$touched && userRegisterForm.birthdate.$invalid, 
                                    'w3-input w3-border-green': userRegisterForm.birthdate.$touched && userRegisterForm.birthdate.$valid}"                        
                        type="text"
                        placeholder="Introduce tu fecha de nacimiento"
                        ng-model="form_data['birthdate']"
                        ng-pattern="JSON_validation.birthdate"
                        required>
                    </input>
                    <div ng-messages="userRegisterForm.birthdate.$error" ng-show="userRegisterForm.birthdate.$touched" style="color:red">
                        <p ng-message="pattern">Formato de fecha erroneo.</p>
                        <p ng-message="required">Fecha requerida</p>
                    </div>                        

                    <!-- COUNTRIES -->                        
                    <label for="countries"><b>Pais</b></label>
                    <select class="w3-select" name="countries" ng-model="form_data['country']">
                        <!-- Manera de iterar en los datos de un objeto JSON-->
                        <option ng-repeat="(key, val) in listCountries">{{val}}</option>
                    </select>  

                    <!-- REGION -->
                    <label for="region"><b>Region</b></label>
                    <input class="w3-input w3-border"
                        name="region" 
                        ng-class="{ 'w3-input w3-border-red': userRegisterForm.region.$touched && userRegisterForm.region.$invalid, 
                                    'w3-input w3-border-green': userRegisterForm.region.$touched && userRegisterForm.region.$valid}"                        
                        type="text"
                        placeholder="Introduce tu region"
                        ng-model="form_data['region']"
                        required>
                    </input>
                    <div ng-messages="userRegisterForm.region.$error" ng-show="userRegisterForm.region.$touched" style="color:red">
                        <p ng-message="required">Region requerida</p>
                    </div>                                       

                    <!-- SUBMIT -->
                    <button class="w3-btn w3-btn-block w3-section w3-grey w3-ripple" ng-disabled="userRegisterForm.$invalid" ng-click="send_form_data()">Registrate</button>

                    <!-- SECTION 2 -->
                    <div class="w3-section w3-container w3-border-top w3-padding-hor-16 w3-light-grey">
                        <!-- RESET -->
                        <input type="reset" class="w3-btn w3-red w3-ripple"></input>
                    </div> 

                </form>                         
            </div>                
        </div> 
    </div>
</div>
