<!-- Navbar -->
<div  ng-controller="MenuController" ng-include="'app/views/partials/menu-bar-partial.html'"></div>

<!-- Page Container -->
<div class="w3-container" style="margin-top:80px;">
        
    <!-- The Grid -->
    <div  class="w3-row w3-container">
        <!-- Left Column -->
        <div class="w3-col m2">
            <!-- Logo -->
            <div class="w3-row">
                <div class="w3-card-2 w3-white w3-section w3-round w3-col w3-center">
                    <img id="logo" src="images/logo_Notesbook_trans.png"></img>
                </div>
            </div>
            <!-- My Classrooms -->
            <div ng-include="'app/views/partials/my-classrooms-links-partial.html'"></div>

        <!-- End Left Column -->
        </div>
        
        <!-- Middle Column - Body of page -->
        <div class="dashboard_articles w3-col m7 w3-large w3-section w3-card-2 w3-padding w3-margin w3-round">
            <div class="dashboard_title w3-row-padding w3-margin w3-center">Dashboard</div>
            <div class="w3-row-padding" ng-repeat="article in dashboard_articles">
                <div ng-include="'app/views/partials/article-list-item-partial.html'"></div>
            </div>
        </div> 

        <!-- Right Column -->
        <div class="w3-col m2 w3-section w3-hide-small w3-hide-medium">
             <!-- Profile -->
             <div class="w3-row">
                <div ng-include="'app/views/partials/user-profile-data-partial.html'"></div> 
            </div>
        </div>           
     
        <!-- End Grid -->
        </div>

<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<div ng-include="'app/views/partials/footer-partial.html'"></div>
