<!-- Navbar -->
<div  ng-controller="MenuController" ng-include="'app/views/partials/menu-bar-partial.html'"></div>

<!-- Page Container -->
<div class="w3-container" style="margin-top:80px;min-height: 100vh">
        
    <!-- The Grid -->
    <div  class="w3-row w3-row-padding">
        <!-- Left Column -->
        <div class="w3-col m12 l2 w3-section">
            <!-- Logo -->
            <div class="w3-row">
                <div class="w3-card-2 w3-white w3-round w3-col w3-center w3-hide-medium">
                    <img id="logo" src="images/logo_Notesbook_trans.png"></img>
                </div>
                <div class="w3-card-2 w3-white w3-round w3-col w3-center w3-hide-large w3-hide-small">
                    <img id="logo" src="images/logo_Notesbook_trans.png" style="width: 400px;height: 400px"></img>
                </div>                
            </div>
            <!-- My Classrooms -->
            <div style="margin-top: 50px" ng-include="'app/views/partials/my-classrooms-links-partial.html'"></div>

        <!-- End Left Column -->
        </div>
        
        <!-- Middle Column - Body of page -->
        <div class="dashboard_articles w3-col m12 l8 w3-card-2 w3-round w3-container w3-section">

            <div class="dashboard_title w3-blue-grey w3-col m12 w3-center w3-section w3-card-2 w3-padding w3-round">Dashboard</div> 

            <div class="" ng-repeat="article in dashboard_articles">
                <div ng-include="'app/views/partials/article-list-item-partial.html'"></div>
            </div>
        </div> 

        <!-- Right Column -->
        <div class="w3-col m12 l2 w3-container w3-section w3-right">
             <!-- Profile -->
             <div class="w3-row">
                <div ng-include="'app/views/partials/user-profile-data-partial.html'"></div> 
            </div>

             <!-- Classroom Info -->
             <div class="w3-row">
                <div ng-include="'app/views/partials/most-popular-articles.html'"></div> 
            </div>
        </div>           
     
        <!-- End Grid -->
        </div>

<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<div ng-include="'app/views/partials/footer-partial.html'"></div>
