<!-- Show Modal when register is valid partial -->
<div ng-include="'app/views/classroom/partials/classroom-valid-modal-partial.html'"></div>

<!-- Show Modal when article is valid partial -->
<div ng-include="'app/views/article/partials/article-valid-modal-partial.html'"></div>

<!-- Menu Partial -->
<div ng-include="'app/views/site/partials/menu-bar-partial.html'"></div>

<!-- Page Container -->
<div class="w3-container" style="margin-top:80px;" id="page_container" ng-controller="ClassRoomController">

    <!-- Classroom modal form partial-->
    <div  ng-include="'app/views/classroom/partials/classroom-form-partial.html'"></div>

    <!-- Article modal form partial -->
    <div ng-include="'app/views/article/partials/article-form-partial.html'"></div>
        
    <!-- The Grid -->
    <div class="w3-row w3-container">
        <!-- Left Column -->
        <div class="w3-col m2">
                <!-- Logo -->
        <div class="w3-row">
            <div class="w3-col w3-center">
                <img src="images/logo_Notesbook_trans.png" style="height:200px;width:195px;margin:0"></img>
            </div>
        </div>
                <!-- Profile -->
            <div class="w3-card-2 w3-round w3-white">
                <div class="w3-container">
                    <h4 class="w3-center">Mi Perfil</h4>
                    <p class="w3-center"><img src="images/boy_avatar.jpg" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
                    <hr>
                    <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Diseñador Web</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> Madrid, España</p>
                    <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> 2 de Enero de 1987</p>
                </div>
            </div>
            <br>
                  
            <!-- Accordion -->
            <div class="w3-card-2 w3-white">
                <div class="w3-center w3-green">Mis Aulas</div>
                <ul class="w3-ul w3-hoverable">
                    
                    <a href="#"><li>Aula 1</li></a>
                    <a href="#"><li>Aula 2</li></a>
                </ul>
            </div>
           
            <br>
        <!-- End Left Column -->
        </div>
        
        <!-- Middle Column -->
        <div ng-include="'app/views/article/partials/article-partial.html'"></div>

       
    <!-- End Grid -->
    </div>
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<div ng-include="'app/views/site/partials/footer-partial.html'"></div>
